# Ambiente virtual
.venv/


# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Cache do kagglehub
.cache/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini
